.card {
  width: 200px;
  height: 100px;
}

.game {
  width: 200px;
  height: 100px;
}

.profile {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-content: column;
}
.card-body{
    display: flex;

  flex-direction: column;
}
